body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:40px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:101px;
  top:5px;
  width:100px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2_ref {
  position:absolute;
  left:193px;
  top:25px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:211px;
  top:5px;
  width:100px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4_ref {
  position:absolute;
  left:303px;
  top:25px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:321px;
  top:5px;
  width:100px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u6_ref {
  position:absolute;
  left:413px;
  top:25px;
  width:1px;
  height:1px;
}
#u8 {
  position:absolute;
  left:431px;
  top:5px;
  width:100px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8_ref {
  position:absolute;
  left:523px;
  top:25px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:550px;
  top:8px;
  width:200px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11 {
  position:absolute;
  left:770px;
  top:8px;
  width:100px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12 {
  position:absolute;
  left:8px;
  top:76px;
  width:1040px;
  height:214px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:214px;
}
#u13 {
  position:absolute;
  left:2px;
  top:99px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:19px;
  top:86px;
  width:615px;
  height:195px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:99px;
  top:0px;
  width:181px;
  height:36px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:280px;
  top:0px;
  width:140px;
  height:36px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:420px;
  top:0px;
  width:190px;
  height:36px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:36px;
  width:99px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:99px;
  top:36px;
  width:181px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:280px;
  top:36px;
  width:140px;
  height:30px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:420px;
  top:36px;
  width:190px;
  height:30px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:66px;
  width:99px;
  height:124px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:124px;
}
#u32 {
  position:absolute;
  left:2px;
  top:54px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:99px;
  top:66px;
  width:181px;
  height:124px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:124px;
}
#u34 {
  position:absolute;
  left:2px;
  top:54px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:280px;
  top:66px;
  width:140px;
  height:124px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:124px;
}
#u36 {
  position:absolute;
  left:2px;
  top:54px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:420px;
  top:66px;
  width:190px;
  height:124px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:124px;
}
#u38 {
  position:absolute;
  left:2px;
  top:54px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:10px;
  top:53px;
  width:62px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
