<!DOCTYPE html>
<html ng-app="myApp" >
<head>
    <title></title>
    <script type="text/javascript" src="Scripts/angular.min.js"></script>
    <script type="text/javascript" src="App/app.module.js"></script>
    <script type="text/javascript" src="App/main.js"></script>

    <link rel="stylesheet" href="Content/bootstrap.min.css" />
    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
</head>
<body >
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
    <form ng-submit="submit()" ng-controller="ClientController">
        <div id="ClientInfo"  >
            <input type="text" ng-model="clientId" name="clientIdInput" id="clientIdInput" />
            <input type="submit" id="clientIdSubmit" value="Submit" />
            <div>
                Client Info:<br />
                {{clients.FirstName}} {{clients.LastName}}<br />
                {{clients.DoB}}<br />
                {{clients.SocialIns}}<br />
            </div>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-inverse">
                        <tr>
                            <th scope="row">Street</th>
                            <th scope="row">City</th>
                            <th scope="row">Province</th>
                            <th scope="row">Postal Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="addr in clients.Addresses">
                            <td>{{addr.Street}}</td>
                            <td>{{addr.City}}</td>
                            <td>{{addr.Province}}</td>
                            <td>{{addr.Postal_Code}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>  
</body>
</html>